doctype html
head
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  )
  meta(
    charset="UTF-8"
  )
  link(
    rel="stylesheet"
    href="vendor/font-awesome.min.css"
  )
  link(
    rel="stylesheet"
    href="css/style.css"
  )
  title SoftAPP

body
  include blocks/header.pug
  include blocks/inn-solutions.pug
  include blocks/advantages.pug
  include blocks/choose.pug
  include blocks/pricing.pug
  include blocks/configurable.pug
  include blocks/features.pug
  include blocks/range.pug
  include blocks/subscribe.pug
  include blocks/footer.pug

  script(src="js/hamintec.js")